# Dependency directory
node_modules/

# API keys and secrets
.env
.secrets

# User config files
.hintrc

# Editors
.vscode
.idea

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
build/**/*

# Ignore user youtube cookies
youtube.com_cookies.txt